.App {
  text-align: center;
/* font-family: 'Roboto Condensed', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Barlow', sans-serif; */
font-family: 'Oswald', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.chart-elements {
  margin: 1rem;
  /* display: flex;
  max-width: calc(100% - 1rem); */

  /* display: flex;
  flex-wrap: wrap;
  max-width: 60rem;
  margin: 0 auto; */
}

/* .chart-element {
  margin: 1rem;
  flex-basis: calc(100% / 2 - 2rem);
  flex-grow: 1;
  display: flex;
}

.chart-element-test {
  margin: 1rem;
  flex-basis: calc(100% / 2 - 2rem);
  flex-grow: 1;
  display: flex;
} */
