/* Application page styles */

.app,
.center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  font-family: arial;
  flex-direction: column;
}

.identity {
  margin-top: 35px;
  font-size: 11px;
  color: white;
  opacity: 0.4;
}
.center {
  align-items: center;
  justify-content: center;
}
