/* GENERAL INFO STYLING */

.gen-info {
  background: #228848;
  display: flex;
  justify-content: center;
  /* flex-basis: 1;
  flex-grow: 1; */
}

.gen-info-box {
  color: #25618b;
  padding: 2rem;
  background: #C0E4FD;
  width: 25%;
  border-right: 2px solid #fff;
}
