/* RESETS */
ul, ol, li{
  list-style:none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* applies a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

/* COLOR VARIABLES */
