.graph {
  /* display: flex;
  flex-direction: row; */
}

.graph-chart {
  color: red;
}

.graph-header {
  margin: 0.5rem;
  color: #383938;
}

.chart {
  display: flex;
  align-items: center;
  border: 1px
}

.chart-header {
  display: flex;
  justify-content: left;
  margin: 0.5rem;
  color: #383938;
  /* color: #fff; */
  text-transform: uppercase;

  width: 100%;
}

.chart-header:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 -55% 0 .5em;
  vertical-align: middle;
  border-bottom: 1px solid;
  align-self: center;
  align-items: center;
}

/* TOGGLE BUTTONS */

.filter-container {
  margin: 0.5rem;
  padding-left: 1rem;
  display: flex;
}

.filter-text {
  font-size: 0.8rem;
  color: #383938;
  margin: 0;
  align-self: center;
}

.button-container {
  display: flex;
  justify-content: left;
}

.toggleButton {
  border-style: none;
  /* border-radius: 5px; */
  /* border: 1px solid #fff; */
  padding: 0.5rem;
  margin: 0 0.5rem 0 0.5rem;
  background: #383938;
  color: #fff;
}

.toggleButton:hover {
  cursor: pointer;
  /* background: #383938; */
  /* border: 2px solid #fff; */
  /* color: white; */
  background: #fff;
  color: #383938;
}


/* CHART 3 STYLES - Last line chart */
.chart-three {
  width: 100%;
  min-width: 20rem;
}

.chart-test-element {
  /* max-width: 100%;
  height: auto;
  min-width: 5rem;
  overflow: auto; */
}
