.main-container {
  color: #fff;
  background: #7FBAEB;
  width: 100%;
  display: flex;
  /* display: block; */
}

.main-elements {
  color: #fff;
  background: #7FBAEB;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-title {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 0.75rem;
}
