/* GENERAL INFO STYLING */

.gen-info {
  background: #228848;
  display: flex;
  justify-content: center;
  /* flex-basis: 1; */
  /* flex-grow: 1; */
}

.gen-info-box {
  color: red;
  padding: 2rem;
  background: #fff;
  width: 25%;
  border-right: 1px solid black;
}
