/* PATIENT COMPONENT STYLING */

.patient {
  background: #C0E4FD;
  color: white;
  font-size: 0.8rem;
  display: block;
  /* padding: 1.2rem; */
}

.patient-avatar {

}

.patient-details {

}

.patient-name {

}

.patient-age {

}

.patient-other {

}
